<div class="component-entry-form">
    <div class="form-row row"><label class="col-xs-5">Adjective:</label> <div class="col-xs-7">{{input value=data.adjectiveA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Plural noun:</label> <div class="col-xs-7"> {{input value=data.pluralNounA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Adjective:</label> <div class="col-xs-7"> {{input value=data.adjectiveB.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Gerund (ends in -ing):</label> <div class="col-xs-7"> {{input value=data.gerundA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Body part:</label> <div class="col-xs-7"> {{input value=data.bodyPart.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Adjective:</label> <div class="col-xs-7"> {{input value=data.adjectiveC.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Verb:</label> <div class="col-xs-7"> {{input value=data.verbA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Past Tense Verb:</label> <div class="col-xs-7"> {{input value=data.pastVerbA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Noun:</label> <div class="col-xs-7"> {{input value=data.nounA.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Gerund (ends in -ing):</label> <div class="col-xs-7"> {{input value=data.gerundB.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Plural animal:</label> <div class="col-xs-7"> {{input value=data.pluralAnimal.val}}</div></div>
    <div class="form-row row"><label class="col-xs-5">Date:</label> <div class="col-xs-7"> {{input value=data.dateTime.val}}</div></div>
</div>
{{submit-button data=data resultsComplete=resultsComplete}}