<div class="component-entry-form">
    <div class="form-row"><label>Adjective:</label> {{input value=data.adjectiveA.val}}</div>
    <div class="form-row"><label>Plural noun:</label> {{input value=data.pluralNounA.val}}</div>
    <div class="form-row"><label>Adjective:</label> {{input value=data.adjectiveB.val}}</div>
    <div class="form-row"><label>Gerund (ends in -ing):</label> {{input value=data.gerundA.val}}</div>
    <div class="form-row"><label>Body part:</label> {{input value=data.bodyPart.val}}</div>
    <div class="form-row"><label>Adjective:</label> {{input value=data.adjectiveC.val}}</div>
    <div class="form-row"><label>Verb:</label> {{input value=data.verbA.val}}</div>
    <div class="form-row"><label>Past Tense Verb:</label> {{input value=data.pastVerbA.val}}</div>
    <div class="form-row"><label>Noun:</label> {{input value=data.nounA.val}}</div>
    <div class="form-row"><label>Gerund (ends in -ing):</label> {{input value=data.gerundB.val}}</div>
    <div class="form-row"><label>Plural animal:</label> {{input value=data.pluralAnimal.val}}</div>
    <div class="form-row"><label>Date:</label> {{input value=data.dateTime.val}}</div>
</div>
{{#if showIncomplete}}
    <div style="text-align:center">Please fill out all fields.</div>
{{/if}}
{{#bs-button class="btn-submit" type="primary" onClick=(action "submit")}} Let's do this {{/bs-button}}