<div class="component-results-display">
    {{#if resultsComplete}}
        <div class="library-name">{{data.adjectiveA.val}}</div>
        There is a hot new front end JavaScript framework, called 
        {{word-blank value=data.adjectiveA.val}}!
        It is designed for 
        {{word-blank value=data.pluralNounA.val}}
        who are 
        {{word-blank value=data.adjectiveB.val}}
        and don’t have time for 
        {{word-blank value=data.gerundA.val}}. 
        I would give my right 
        {{word-blank value=data.bodyPart.val}}
        to have used it for my last project. 
        I was building a 
        {{word-blank value=data.adjectiveC.val}}
        web app, but every time I tried to 
        {{word-blank value=data.verbA.val}}
        my app, it 
        {{word-blank value=data.pastVerbA.val}}.
        And then I thought, there has to be a better way! 
        Now I can create the core product for my startup, a 
        {{word-blank value=data.nounA.val}}
        that makes
        {{word-blank value=data.gerundB.val}}
        easier for 
        {{word-blank value=data.pluralAnimal.val}}. 
        To get started, just type `npm install -g
         {{word-blank value=data.adjectiveA.val}}-{{word-blank value=data.gerundB.val}}-{{word-blank value=data.pluralAnimal.val}}`.
        It’s not finished yet, but the documentation will be available by 
        {{word-blank value=data.dateTime.val}}.
    {{/if}}
</div>